@import url(style.css);
nav{
    box-shadow: black 2px 5px 11px 5px;
    position: fixed;
    top: 0;
    width: 100%;
    opacity: 95%;
}
.upper-nav{
    list-style: none;
}
.upper-nav{
    margin: 0;
    display: flex;
    background-color: var(--main-color-2);
    align-items: center;
}

.nav-icon{
    margin-right: 10vw;
}

.nav-headline{
    position: relative;
    left: 20vw;
    font-size: 2vw;
    text-align: center;
}

.nav-headline span{
    display: block;
    border-bottom: var(--main-color-1) solid 5px;
}

.searchbar{
    text-decoration: none;
    border: var(--main-color-1) 4px solid;
    border-radius: 10px;
    background-color: var(--main-color-1);
    outline: none;
}

.search-bar-box{
    display: flex;
    position: absolute;
    right: 0;
    top: 4vw;
    margin-right: 5vw;
    background-color: var(--main-color-1);
    border: var(--main-color-1) 5px solid;
    border-radius: 10px;
}

.fa-search{
    color: var(--main-color-2);
    position: relative;
    top: 0.3vw;
}

.fa-search:hover{
    cursor: pointer;
}
.lower-nav{
   list-style: none;
   display: flex;
   background-color: var(--main-color-2);
   margin: 0;
   padding: 0;
   z-index: 0;
}

.lower-nav li{
    padding: 0 5vw;
    width: 100%;
    white-space: nowrap;
    border: 5px solid var(--main-color-2);
    margin: 0;
    
}
.lower-nav a{
    text-decoration: none;
    color: black;
}
.lower-nav li:hover{
    border-bottom: 5px solid var(--main-color-1);
    color: var(--second-color-1);
}

.sub-list li:hover{
    transition: 300ms;
    background-color: var(--main-color-1);
    border-color: var(--main-color-1);
}
/* DROPDOWN ON HOVER */
/* SUB-LIST-1 */
.sub-list{
    list-style: none;
    position: absolute;
    background-color: var(--main-color-2);
    margin: 0;
    padding: 0;
    z-index: -1;
    display: none;
}

.sub-list li{
    padding: 0.2vw;
    border: none;
    text-align: center;
    border: solid 5px var(--main-color-2);
    background-color: var(--main-color-2);
    text-align: center;
}

.sub-list-1{
    right: 86vw;
}
.lower-nav .arrangementer:hover .sub-list-1{
    display: block;
}

/* SUB-LIST-2 */


.lower-nav .inspiration:hover .sub-list-2{
    display: block;
}

.sub-list-2 {
    right: 69.5vw;
}

/* SUB-LIST-3 */


.lower-nav .tilbud:hover .sub-list-3{
    display: block;
}

.sub-list-3 {
    right: 53.6vw;
}

/* SUB-LIST-4 */
.lower-nav .familie:hover .sub-list-4{
    display: block;
}


/* SUB-LIST-5 */
.lower-nav .info:hover .sub-list-5{
    display: block;
}

.sub-list-5 {
    right: 23vw;
}

/* SUB-LIST-6 */
.lower-nav .openings:hover .sub-list-6{
    display: block;
}

.sub-list-6 {
    right: 16vw;
}

/* SUB-LIST-7 */
ul .login{
    padding: 0;
    text-align: center;
}
.lower-nav .login:hover .sub-list-7{
    display: block;
}

.sub-list-7 {
    right: 2vw;
}